<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Network Of Women - ThoughtWorks Hyderabad</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header>
      <figure>
        <img src="assets/TWLogo.svg" alt="ThoughtWorks' logo">
      </figure>
    </header>
    <main>
      <article id="jumbotron" class="page-section">
        <seciton class="first-section">
          <figure>
            <img src="assets/now-banner-text1.svg" alt="">
          </figure>
        </seciton>
        <section class="second-section">
          <h3>{{ eventData.theme }}</h3>
        </section>
        <h1>{{ eventData.date }} | Hyderabad</h1>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1Rr1u-031_S9FTG_JlWbuP98HBLQ7xj4Y5V1wnXOEmye34g/viewform"
          class="call-to-action inverted-cta">Participate</a>
      </article>
      <article id="event-description" class="page-section">
        <section class="description">
          <div v-html="desc"></div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1Rr1u-031_S9FTG_JlWbuP98HBLQ7xj4Y5V1wnXOEmye34g/viewform"
            class="call-to-action">Participate</a>

        </section>
        <section class="image-area">
          <figure>
            <img src="assets/now-pune.jpg " alt="picture iop">
          </figure>
        </section>
      </article>
      <article id="agenda" class="page-section">
        <header>
          Agenda
        </header>
        <section>
          <table>
            <thead>
              <tr>
                <th>
                  Timings
                </th>
                <th>
                  Event name
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="agendaItem in eventData.agenda">
                <td>
                  {{agendaItem.timings}}
                </td>
                <td>
                  {{agendaItem.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>
      <article class="page-section" id="speakers">
        <header>
          Speakers
        </header>
        <section class="speaker-section" v-for="speaker in eventData.speakers">
          <figure>
            <img :src="'assets/' + speaker.imageName" alt="Nayana Udipi's Photo">
          </figure>
          <section class="text-content">
            <header>
              {{speaker.name}}
            </header>
            <p>
              {{speaker.description}}
            </p>
          </section>
        </section>
      </article>
      <article id="event-location" class="page-section">
        <header>
          Venue
        </header>
        <div>
          <section class="description">
            <address>
              <b>ThoughtWorks Technologies (India) Pvt Ltd.</b><br />
              3rd Floor, Apurupa Silpi,<br />
              Beside H.P. Petrol Bunk (KFC Building),<br />
              Gachibowli,<br />
              Hyderabad - 500032, India<br /><br />
              <a href="mailto:now-hyd@thoughtworks.com ">now-hyd@thoughtworks.com</a><br />
            </address>
          </section>
          <section class="image-area">
            <figure>
              <iframe width="600" height="450" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=ThoughtWorks&key=AIzaSyD9Lh5fA-kPZZM6eoC-dmgWv9hsuJohmao"
                allowfullscreen></iframe>
            </figure>
          </section>
        </div>
      </article>
    </main>
  </div>
  <!-- vuejs production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- markdown formatter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>
  <!-- NOW script -->
  <script src="script.js"></script>
</body>

</html>