:root {
  --spacing: 20px;
  --header-height: 100px;
  --grey-color: #f5f5f5;
  --pink-color: #f68831;
}

body {
  font-family: "Open Sans", sans-serif;
}

figure {
  margin: 0;
}

#app > header {
  background: white;
  height: var(--header-height);
}

#app > header > figure {
  height: var(--header-height);
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 300px;
}

#app > header > figure > img {
  height: calc(var(--header-height) / 2);
  margin: 0 var(--spacing);
}

.page-section {
  min-height: 40vh;
  padding: calc(var(--spacing) * 3) 10vw 0 10vw;
}

.page-section > header {
  background: white;
  min-height: calc(var(--header-height) / 2);
  text-align: center;
  font-size: calc(1em + 1vw);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#jumbotron {
  color: white;
  background: url(assets/background.png) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: calc(var(--spacing) * 3);
}

/* Center everything inside Jumbotron */
#jumbotron > * {
  margin: 0px auto;
  text-align: center;
  text-transform: capitalize;
}

#jumbotron > h3 {
  text-transform: uppercase;
}

#jumbotron > h3,
#jumbotron section h3 {
  font-size: calc(1em + 0.5vw);
}

#jumbotron > h3 {
  font-weight: 700;
}

#jumbotron > h1 {
  margin: calc(var(--spacing) * 2) auto 0 auto;
  font-size: calc(1em + 1vw);
  font-weight: 600;
}

#jumbotron > section * {
  margin: 1vw auto;
  padding: 0;
}

#jumbotron > section {
  min-width: 250px;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

#jumbotron > .first-section {
  width: 30vw;
  margin-bottom: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 2);
}

#jumbotron > .second-section > h3 {
  font-weight: 700;
  letter-spacing: -0.1vw;
  font-size: calc(1em + 3vw);
}

#event-description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#event-description .description,
#event-description .image-area,
#event-location .description,
#event-location .image-area {
  min-height: 30vh;
  width: 48%;
  background: white;
}

#event-description .description,
#event-location .description {
  font-size: calc(1em + 0.2vw);
  line-height: 30px;
}

#event-description .image-area > .team-img {
  overflow: hidden;
  margin: auto;
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  background: url(./assets/team.png) no-repeat;
  background-size: contain;
  background-position: center;
}

#event-location .image-area iframe {
  height: 60vh;
  width: 100%;
}

#event-location > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: calc(var(--spacing) * 3);
}

#event-location {
  padding-bottom: calc(var(--spacing) * 3);
}

.call-to-action {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 60px;
  width: 300px;
  background: #03bdce;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: calc(1em + 0.2vw);
  transition: box-shadow 0.2s;
}

.call-to-action:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.inverted-cta {
  background: white;
  color: #03bdce;
  margin: calc(var(--spacing) * 2) auto !important;
}

#agenda > header {
  text-align: center;
  font-size: calc(1em + 1vw);
}

#agenda > section {
  margin-top: calc(var(--spacing) * 2);
}

table {
  width: 50vw;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background: #03bdce;
  color: white;
}

tbody > tr:nth-child(odd) {
  background: #f0f7f7;
}

tr {
  height: 60px;
}

td,
th {
  padding-left: 2vw;
}

th {
  text-transform: uppercase;
}

tr td:first-child {
  width: 200px;
}

#speakers {
  padding: 0;
}

#speakers > header {
  padding: calc(var(--spacing) * 1.5) 0;
}

.speaker-section:nth-child(even) {
  background: var(--grey-color);
}

.speaker-section:nth-child(odd) {
  flex-flow: row-reverse wrap;
}

.speaker-section {
  min-height: 3vh;
  padding: calc(var(--spacing) * 3) 10vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.speaker-section .img {
  height: 400px;
  width: 400px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  margin-bottom: 5vw;
}

.speaker-section > .text-content {
  width: 45%;
  margin-right: 2.5vw;
}

.speaker-section > .text-content > header {
  color: var(--pink-color);
  font-size: calc(1rem + 2.5vw);
  font-weight: lighter;
  line-height: calc(1rem + 2.4vw);
}

.speaker-section > .text-content > p {
  font-size: calc(0.6rem + 0.5vw);
  line-height: calc(1rem + 0.5vw);
  font-weight: lighter;
}

#last-cta {
  background: #26bdcf;
  color: white;
  min-height: 50vh;
}

#last-cta > h1 {
  font-size: calc(2em + 4vw);
  text-transform: uppercase;
}

#last-cta > p {
  font-size: calc(1em + 0.5vw);
}

address {
  font-style: normal;
}

address a {
  text-decoration: none;
  font-style: normal;
  color: #03bdce;
  font-weight: bold;
}

address a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  table {
    width: 80vw;
  }

  .image-area {
    margin-top: 5vw;
    width: 80vw;
    height: calc(400px - 100vw);
  }

  .speaker-section .img  {
    width: 100%;
    height: 300px;
  }

  .page-section,
  .speaker-section {
    flex-flow: column wrap !important;
    justify-content: flex-start;
  }

  .page-section section,
  .speaker-section figure {
    width: 80vw !important;
  }

  .call-to-action {
    width: 100%;
  }
  #agenda > section {
    margin-top: var(--spacing);
  }

  #event-description img {
    margin-top: var(--spacing);
  }

  .page-section img {
    margin-bottom: var(--spacing);
  }

  .page-section > header {
    min-height: calc(var(--header-height) / 2);
  }

  td {
    font-size: calc(0.8em);
  }

  #last-cta {
    padding-bottom: calc(var(--spacing) * 3);
  }

  table {
    width: 80vw;
  }
  #event-location iframe {
    width: 80vw !important;
    height: 40vh;
  }

  #jumbotron > .first-section {
    width: 40vw;
    margin-bottom: 0;
  }
}
