<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <br>
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-5 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Technologies (India) Pvt. Ltd.</span>
                <span>3<sup>rd</sup>floor,
                </span>
                <span>Apurupa Silpi, Above KFC,
                </span>
                <span>Gachibowli, Hyderabad-500018
                </span>
                <span>
                    <small>
                        <a
                            class="link"
                            href="https://www.google.com/maps/dir//thought+works+hyderabad/@17.434023,78.3402259,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bcb9395ed638f61:0x49acd498fc2f1237!2m2!1d78.3572957!2d17.4429004"
                            target="_blank"
                            rel="nofollow">&laquo; Open in Google Maps &raquo;</a>
                    </small>
                </span>
            </p>
        </div>

        <div class="large-7 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a
                href="https://www.google.com/maps/dir//thought+works+hyderabad/@17.434023,78.3402259,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bcb9395ed638f61:0x49acd498fc2f1237!2m2!1d78.3572957!2d17.4429004"
                target="_blank"
                rel="nofollow">
                <img src="./img/map.jpg" alt="Map" align="center"/>
            </a>
        </div>
    </div>
</section>
